body {
}
h1{text-align: center}
div.middle{text-align:center}
input.search{
    width:50%;
    height:32px;
    border-width:thin;
    border-style:solid;
}
input[type=submit].blue{
    width: 80px;
    height: 32px;
    border-width:thin !important;
    border-style:solid !important;
    border-color:white !important;
    color: white;
    letter-spacing: 1px;
    background: #3385ff;
    border-bottom: 1px solid #2d78f4;
    outline: medium;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-size: 14px;
    padding: 0;
    border: 0;
    cursor: pointer;
    margin-left: -6px;
}
p.caterogy{
    display:table-cell;
    font-size:20px;
    height:100% !important;
    vertical-align:middle;
}